#content {
  height: 100vh;
  background-image: url('../img/motion_image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar {
  z-index: 1000;
}
